.comment-container{
    .comments {
        background-color: silver;
    }
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    .comment {
        padding: 12px;
        background-color: #fff5f5;
        margin-top: 1rem;
        margin-bottom: 1rem;
        .label {
            font-weight: 600;
        }
    }
    .post {
        cursor: pointer;
        padding: 12px;
        background-color: #edeef0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        .label {
            font-weight: 600;
        }
        .post-id {
            font-size: medium;
        }
    }
}
